<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../static/css/cadastro.css">
</head>
<body>
    <main id="container">
        <form id="login_form" action="">
            
            <div id="form_header">
                <h1>Cadastro</h1>
                <img src="../static/images/logo_red.png" alt="">
            </div>

            <div id="inputs">
                <div class="input_box">
                    <label for="name">CEP 
                        <div class="input_field">
                            
                            <input type="name" id="name" name="name">
                        </div>
                    </label>
                </div>
                <div class="input_box">
                    <label for="name">Endereço 
                        <div class="input_field">
                            
                            <input type="name" id="name" name="name">
                        </div>
                    </label>
                </div>
                <div class="input_box">
                    <label for="name">Número 
                        <div class="input_field">
                            
                            <input type="name" id="name" name="name">
                        </div>
                    </label>
                </div>
                <div class="input_box">
                    <label for="name">Complemento 
                        <div class="input_field">
                           
                            <input type="name" id="name" name="name">
                        </div>
                    </label>
                </div>
                <div class="input_box">
                    <label for="name">Bairro 
                        <div class="input_field">
                            
                            <input type="name" id="name" name="name">
                        </div>
                    </label>
                </div>
                <div class="input_box">
                    <label for="name">Estado
                        <div class="input_field">
                            
                            <input type="name" id="name" name="name">
                        </div>
                    </label>
                </div>
                <div class="input_box">
                    <label for="name">Cidade 
                        <div class="input_field">
                            
                            <input type="name" id="name" name="name">
                        </div>
                    </label>
                </div>
                <div class="input_box">
                    <label for="name">Telefone (Loja) 
                        <div class="input_field">
                            
                            <input type="name" id="name" name="name">
                        </div>
                    </label>
                </div>
                <div class="input_box">
                    <label for="name">Email
                        <div class="input_field">
                            
                            <input type="name" id="name" name="name">
                        </div>
                    </label>
                </div>
                <div class="input_box">
                    <label for="password">Senha
                        <div class="input_field">
                            <input type="password" id="password" name="password">
                        </div>
                    </label>
            
                </div>
                <div class="input_box">
                    <label for="password"> Confirmar Senha
                        <div class="input_field">
                            <input type="password" id="password" name="password">
                        </div>
                    </label>
            
                </div>
            </div>
           

            

            <button type="submit" id="login_button" > 
                <a href="../templates/dashboard.html">Entrar</a>
            </button>

        </form>
    </main>                                                                                     
</body>
</html>