<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configurações</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="../static/css/configurações.css" rel="stylesheet">
    <link href="../static/css/toggleswitch.css" rel="stylesheet">
</head>

<body>
    <nav  class="navbar fixed-top" style="background-color: #F04242; " >
        <div class="container-fluid"  style="display: block;">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation" style=" border: 2px solid black; box-shadow: none;">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#" style="font-family: 'Times New Roman', Times, serif; font-size: x-large;">iSteak</a>
          <div  style="background-color: #F04242;" class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div style="color: white;" class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img width="30%" src="../static/images/logonova.png" alt="">iSteak</h5>
              <button  type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
            <div class="offcanvas-body">
              <ul  class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a style="color: white;"  class="nav-link active" aria-current="page" href="../templates/dashboard.html"><ion-icon  name="home-outline"></ion-icon>  Inicio</a>
                </li>
                <li class="nav-item">
                  <a style="color: white;"  class="nav-link active" aria-current="page" href="../templates/loja.html"><ion-icon name="storefront-outline"></ion-icon>  Loja</a>
                </li>
                <li class="nav-item">
                  <a style="color: white;"  class="nav-link active" aria-current="page" href="../templates/estatistica.html"><ion-icon name="bar-chart-outline"></ion-icon>  Estatísticas</a>
                </li>
                <li class="nav-item">
                  <a style="color: white;"  class="nav-link active" aria-current="page" href="../templates/histórico_pds.html"><ion-icon name="receipt-outline"></ion-icon>  Histórico</a>
                </li>
                <li class="nav-item">
                  <a style="color: white;"  class="nav-link active" aria-current="page" href="../templates/configurações.html"><ion-icon name="settings-outline"></ion-icon>  Configurações</a>
                </li>
                <li class="nav-item">
                  <a style="color: white;"  class="nav-link active" aria-current="page" href="../templates/index.html"><ion-icon name="arrow-back-circle-outline"></ion-icon>  Sair</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
<main>


    <div class="container-fluid" id="marid">
        <div class="row">
            <div class="col" >
                <ul id="list" class="list-group list-group-flush ">
                    <p style="text-align: center;"><i>Horário de funcionamento</i></p>
                    <li id="list_item" class="list-group-item" >
                        Segunda das <input type="text" size="1">:<input type="text" size="1"> até <input type="text"
                            size="1">:<input type="text" size="1">
                    </li>
                    <li id="list_item" class="list-group-item" >
                        Terça das <input type="text" size="1">:<input type="text" size="1"> até <input type="text"
                            size="1">:<input type="text" size="1">
                    </li>
                    <li id="list_item" class="list-group-item" >
                        Quarta das <input type="text" size="1">:<input type="text" size="1"> até <input type="text"
                            size="1">:<input type="text" size="1">
                    </li>
                    <li id="list_item" class="list-group-item">
                        Quinta das <input type="text" size="1">:<input type="text" size="1"> até <input type="text"
                            size="1">:<input type="text" size="1">
                    </li>
                    <li id="list_item" class="list-group-item" >
                        Sexta das <input type="text" size="1">:<input type="text" size="1"> até <input type="text"
                            size="1">:<input type="text" size="1">
                    </li>
                    <li id="list_item" class="list-group-item" >
                        Sábado das <input type="text" size="1">:<input type="text" size="1"> até <input type="text"
                            size="1">:<input type="text" size="1">
                    </li>
                    <li id="list_item" class="list-group-item" >
                        Domingo das <input type="text" size="1">:<input type="text" size="1"> até <input type="text"
                            size="1">:<input type="text" size="1">
                    </li>
                </ul>
                <br>
                <button id="btn_salvar" type="button"  >Salvar</button>
            </div>
            <div class="col" >
                <div class="container " id="loja_ativa">
                    <br>
                    <h3 >Loja ativa:</h3>
                    <p id="io">
                        Desativado &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="switch"><input type="checkbox"><span class="slider"></span></label>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ativado
                    </p>
                </div>
                <button type="button" class="btn btn-danger btn-lg mx-5" id="dfn">Definir</button>
                <br>
                <div class="container mx-5">
                    <h1 style="margin: 2rem;">Horário Especial de Amanhã</h1>
                    <p style="text-align: center; font-size: 20px;">Amanhã das <input type="text" size="1">:<input
                            type="text" size="1"> até <input type="text" size="1">:<input type="text" size="1">.
                    </p>
                </div>
                <button type="button" class="btn btn-danger btn-lg mx-5" id="dfn0">Definir</button>
            </div>
        </div>

        <div class="container-fluid" id="marid">
            <h1>Forma de Pagamento e Taxa de Entrega</h1>
            <p>
            <h1 style="margin-left: 10rem;">Dinheiro</h3>
                <p id="io">Desativado &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label class="switch"><input type="checkbox"><span class="slider"></span></label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ativado
                </p>
                </p>
                <p>
                <h1 style="margin-left: 10rem;">Pix</h3>
                    <p id="io">Desativado &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label class="switch"><input type="checkbox"><span class="slider"></span></label>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ativado
                    </p>
                    </p>
                    <p style="margin-left: 10rem; margin-top: 4rem; font-size: larger;">
                        <b>Taxa de entrega: &nbsp;&nbsp;&nbsp;</b> <input type="text" size="10">
                    </p>
                    <button type="button" class="btn btn-danger btn-lg mx-5" id="dfn1">Definir</button>

        </div>

        <div class="container-fluid" id="marid">
            <h1 style="margin-bottom: 3rem;">Informações Gerais</h1>
            <div class="mb-3">
                <label for="nloja" class="form-label">Nome da loja</label>
                <input type="email" class="form-control" id="nomeloja">
            </div>
            <div class="mb-3">
                <label for="rsocial" class="form-label">Razão Social</label>
                <input type="email" class="form-control" id="rsocial">
            </div>
            <div class="mb-3">
                <label for="nfantasia" class="form-label">Nome Fantasia</label>
                <input type="email" class="form-control" id="nfantasia">
            </div>
            <div class="mb-3">
                <label for="cnpj" class="form-label">CNPJ</label>
                <input type="email" class="form-control" id="cnpj">
            </div>
            <br>
            <button type="button" class="btn btn-danger btn-lg mx-5" id="slv0">Salvar</button>
        </div>

        <div class="container-fluid" style="margin-bottom: 2rem;"id="marid">
            <h1 style="margin-bottom: 3rem;">Endereço da Loja</h1>
            <div class="mb-3">
                <label for="endereço" class="form-label">Endereço</label>
                <input type="email" class="form-control" id="endereço">
            </div>
            <div class="mb-3">
                <label for="numero" class="form-label">Número</label>
                <input type="email" class="form-control" id="numero">
            </div>
            <div class="mb-3">
                <label for="bairro" class="form-label">Bairro</label>
                <input type="email" class="form-control" id="bairro">
            </div>
            <div class="mb-3">
                <label for="cep" class="form-label">CEP</label>
                <input type="email" class="form-control" id="cep">
            </div>
            <div class="mb-3">
                <label for="cidade" class="form-label">Cidade</label>
                <input type="email" class="form-control" id="cidade">
            </div>
            <div class="mb-3">
                <label for="estado" class="form-label">Estado</label>
                <input type="email" class="form-control" id="estado">
            </div>
            <div class="mb-3">
                <label for="complemento" class="form-label">Complemento *<i>(não obrigatorio)</i></label>
                <input type="email" class="form-control" id="complemento">
            </div>
            <button type="button" class="btn btn-danger btn-lg mx-5" id="slv1">Salvar</button>
        </div>
    </div>

</main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
        <script src="../static/javascript/configurações.js"></script>
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>