<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estatistica</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/index.css">

<body>

    <div class="container-fluid">

        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <img src="https://media.discordapp.net/attachments/1082404267958218772/1092420974537867315/image.png"
                            class="mx-auto d-block img-fluid">
                    </div>
                    <div class="col">
                        <p style="font-size: 100px;">iSteak Admin</p>
                    </div>
                    <div class="d-flex align-items-end" id="cxstatus">
                        <p style="font-style: oblique; font-size: larger; text-align: start;">Conexão do Servidor:<p id="cnxon">oi</p></p>
                    </div>
                </div>

            </div>
            <div class="col">
                <div id="cxuser">
                    <h1>O primeiro passo começa aqui</h1>
                    <br><br>
                    <h3>Entre na sua loja agora:</h3>
                    <a href="dashboard.html"><button type="button" class="btn btn-danger btn-lg my-auto" style="font-size: 75px;">&nbsp; Entrar &nbsp;</button>
                    </a>
                    <div class="w-100"><br><br></div>
                    <h3>Ou configure sua loja (caso seja 1º vez):</h3>
                    <a href="configurações.html"><button type="button" class="btn btn-danger btn-lg" style="font-size:75px;">Configurar</button>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

</body>

</html>